%tr.post
  %td= link_to pin.id, board_pin_path(@board.id,pin)
  %td= pin.name
  %td= link_to(image_tag(pin.image.thumb.url),board_pin_path(@board,pin))
  %td= pin.board.title
  %td=l pin.created_at
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_board_pin_path(@board,pin), :class => 'btn btn-default btn-xs'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), board_pin_path(pin,@board), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'